@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0D0D0D;
    overflow-x: hidden !important;
}

.efeito_luz {
    z-index: -1;
    opacity: .8;
    width: 250px;
    height: 250px;
    filter: blur(60px);
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, #CB6CE6 0%, #0D0D0D 100%);
}

#menu {
    z-index: 10;
    width: 100vw;
    height: 5rem;
    display: flex;
    position: fixed;
    padding: 2rem 4rem;
    align-items: center;
    background: #0d0d0dcc;
    backdrop-filter: blur(7px);
    justify-content: space-between;
}

.texto_colorido {
    color: #CB6CE6;
}

#logo50bue_menu {
    font-size: 30pt;
    color: #F5F5F5;
    text-decoration: none;
    font-family: "Bebas Neue"
}

#div_contentor_opcao_menu {
    gap: .5rem;
    display: flex;
}

.link_opcao_menu {
    padding: .5rem;
    font-weight: 400;
    color: #F5F5F5;
    text-decoration: none;
    transition: all .3s ease-in;
    font-family: "Roboto", sans-serif;
}

.link_opcao_menu:hover {
    opacity: 70%;
}

.div_contentor_botoes {
    gap: .5rem;
    display: flex;
    padding: .3rem;
    width: max-content;
    align-items: center;
    border-radius: 999px;
    border: 1px solid #80808078;
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.21);
}

.botao {
    cursor: pointer;
    color: #F5F5F5;
    font-weight: 500;
    padding: .3rem 1rem;
    border-radius: 999px;
    background: #CB6CE6;
    font-family: "Roboto", sans-serif;
    border: 1px solid rgba(203, 108, 230, 0.47);
    box-shadow: 0 0 15px rgba(203, 108, 230, 0.9);
}

.botao_efeito {
    box-shadow: none;
    background: transparent;
    border: 1px solid #80808078;
}

#div_content_botao_menu_hamburguer {
    gap: .5rem;
    display: none;
    align-items: center;
}

#menu_hamburguer {
    gap: .2rem;
    display: flex;
    padding: .5rem;
    cursor: pointer;
    align-items: end;
    flex-direction: column;
}

.menu_hamburguer_bar {
    height: 3px;
    width: 2.5rem;
    border-radius: 999px;
    background: #F5F5F5; 
}

.menu_hamburguer_bar:nth-child(1) {
    width: 1.2rem;
}

.menu_hamburguer_bar:nth-child(2) {
    width: 1.8rem;
}

.secao {
    padding: 5rem 4rem;
}

#secao_hero {
    display: flex;
    height: 100vh;
    overflow: visible;
    padding-top: 6rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.img_moeda_hero {
    width: 150px;
    position: absolute;
    pointer-events: none;
}

.img_moeda_hero_frente {
    top: 6rem;
    width: 150px;
    filter: blur(0)
    transform: rotate(40deg);
    animation: ofuscaMoeda 5s linear infinite;
}

@keyframes ofuscaMoeda {
    0% {
        left: -4rem;
        filter: blur(0)
    }
    100% {
        left: -2rem;
        filter: blur(10px);
    }
}

.img_moeda_hero_inverso {
    right: -2rem;
    bottom: -2rem;
    transform: rotate(35deg);
}

#div_contentor_textos_hero_botoes {
    gap: .5rem;
    width: 800px;
    display: flex;
    flex-direction: column;
}

#titulo_hero {
    font-size: 45pt;
    color: transparent;
    background-clip: text;
    font-family: "League Spartan";
    background: linear-gradient(90deg, #F5F5F5 0%, #B0B0B0 50%, #A0A0A0 100%);
    -webkit-background-clip: text;
}

#texto_hero {
    color: #F5F5F5;
    font-weight: 300;
    margin-block: .5rem;
    font-family: "Roboto", sans-serif;
}

.texto_destaque {
    font-weight: 600;
}

#img_hero {
    width: 650px;
}

.titulo_secao,
.texto_secao {
    color: #F5F5F5;
}

.titulo_secao {
    font-size: 40pt;
    font-family: "League Spartan", sans-serif;
}

.titulo_secao_ativar_numero {
    font-size: 85pt;
}

.texto_secao {
    font-weight: 300;
    margin-block: .5rem;
    font-family: "Roboto", sans-serif;
}

form {
    width: 700px;
    padding: 1rem;
    height: 600px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    flex-direction: column;
    border: 1px solid #b0b0b038;
    justify-content: space-between;
}

.efeito_luz_secao_ativacao_numeros {
    top: -10rem;
    right: -10rem;
}

.div_botao_tipo_ativacao {
    width: 500px;
    padding: .3rem;
    margin: auto;
    border-radius: 99px;
    border: 1px solid #b0b0b038;
    justify-content: space-between;
}

.botao_tipo_ativacao {
    cursor: pointer;
    font-weight: 500;
    color: #F5F5F5;
    color: #b0b0b0e3;
    border-radius: 999px;
    padding: .2rem 1.5rem;
    background: transparent;
    border: 2px solid transparent;
    font-family: "Roboto", sans-serif;
}

.botao_tipo_ativacao.ativo {
    color: #F5F5F5;
    background: #CB6CE6;
    border: 2px solid #CB6CE6;
    box-shadow: 0 0 7px #CB6CE6;
}

.div_texto_tipo_ativacao {
    padding-top: 2rem;
}

.div_info_sobre_tipo_ativacao {
    width: 650px;
}

.info_sobre_tipo_ativacao {
    opacity: 75%;
    color: #F5F5F5;
    font-family: "League Spartan", sans-serif;
}

.nav_selecionar_numeros {
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.input_selecionar_numero {
    display: none;
}

.label_selecionar_numero {
    font-size: 15pt;
    cursor: pointer;
    color: #F5F5F5;
    border-radius: 99px;
    padding: .5rem .8rem;
    border: 1px solid #b0b0b038;
    font-family: "League Spartan", sans-serif;
}

@keyframes pisca {
    from {
        transform: scale(1.01)
    }
    
    to {
        transform: scale(1.05)
    }
}

#secao_ativacao_numero {
    display: flex; 
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#secao_ranking {
    gap: 2rem;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row-reverse;
}

.content_titulo_texto_secao_ranking {
    width: 450px;
}

#div_content_ranking {
    gap: .5rem;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
}

#figura_abstrata_ranking {
    top: 6rem;
    left: 20rem;
    z-index: -1;
    width: 400px;
    height: 400px;
    position: absolute;
    animation: roda_abstrato 3s linear infinite;
    border-radius: 75% 30% 30% 70% / 60% 40% 60% 40%;
    background: linear-gradient(35deg, #CB6CE6 0%, #0D0D0D 100%);
}

@keyframes roda_abstrato {
    0% {
        transform: rotate(0) scale(1.4)
    }

    100% {
        transform: rotate(365deg) scale(1.4)
    }
}

.card_content_pessoa_ranking {
    gap: 1.5rem;
    width: 260px;
    display: flex;
    height: 260px;
    padding: 2rem;
    cursor: pointer;
    color: #F5F5F5;
    text-align: center;
    position: relative;
    border-radius: 12px;
    align-items: center;
    background: #0D0D0D;
    flex-direction: column;
    border: 2px solid #b0b0b038;
}

.card_content_pessoa_ranking_1 {
    border: 2px solid #CB6CE6;
}

.posicao_ranking {
    opacity: 45%;
    font-size: 30pt;
    color: #F5F5F5;
    font-family: "League Spartan", sans-serif;
}

.posicao_ranking_1 {
    opacity: 1;
    color: #CB6CE6;
}

.nome_pessoa_ranking {
    opacity: 45%;
    font-size: 19pt;
    color: #F5F5F5;
    font-family: "League Spartan", sans-serif;
}

.nome_pessoa_ranking_1 {
    opacity: 1;
    color: #CB6CE6;
}

.texto_info_ranking {
    opacity: 45%;
    font-size: 15pt;
    font-weight: 400;
    color: #F5F5F5;
    font-family: "League Spartan", sans-serif;
}

.texto_info_ranking_1 {
    opacity: 1;
    color: #F5F5F5;
}

.texto_colorido_total_ativos {
    opacity: 1;
    color: #F5F5F5;
    font-weight: bolder;
}

.texto_colorido_total_ativos_1 {
    color: #CB6CE6;
}

#div_contentor_cards_premios {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.carrousel_premios {
    margin: auto;
    display: flex;
    width: 1075px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.card_premios {
    width: 365px;
    height: 575px;
    padding: 1rem;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    border: 1px solid #b0b0b038;
    justify-content: space-between;
}

.carousel_botao {
    z-index: 2;
    width: 40px;
    height: 40px;
    font-size: 14pt;
    position: absolute;
    font-weight: bolder;
}

.carousel_botao.anterior {
    left: 0;
}

.carousel_botao.seguinte {
    right: 0;
}

#div_contentor_card_premio {
    gap: .5rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-inline: 1rem;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

#div_contentor_card_premio::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 2rem;
    height: 100%;
    content: " ";
    position: absolute;
    background: linear-gradient(to right, #0D0D0D 0%, #0D0D0D 20%, #0D0D0D 5%, transparent 100%);
}

#div_contentor_card_premio::after {
    top: 0;
    right: 0;
    z-index: 1;
    width: 1rem;
    height: 100%;
    content: " ";
    position: absolute;
    background: linear-gradient(to left, #0D0D0D 0%, #0D0D0D 20%, #0D0D0D 5%, transparent 100%);
}

.palavra_premio_card {
    font-size: 17pt;
    color: #909CA8;
    text-transform: uppercase;
    font-family: "League Spartan", sans-serif;
}

.nome_premio_card {
    font-size: 30pt;
    color: #CB6CE6;
    text-transform: uppercase;
    font-family: "League Spartan", sans-serif;
}

.texto_card_premio {
    color: #F5F5F5;
    font-weight: 300;
    font-size: 11.5pt;
    padding-block: .5rem;
    font-family: "Roboto", sans-serif;;
}

.div_contentor_img_card_premio {
    display: flex; 
    justify-content: center;
}

.img_premio {
    width: 300px;
}

.texto_card_premio_efeito {
    opacity: 30%;
    font-size: 18pt;
    color: #F5F5F5;
    text-align: center;
    text-transform: uppercase;
    font-family: "League Spartan", sans-serif;
}

#secao_video_vencedores {
    gap: 2rem;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row-reverse;
}

.efeito_luz_secao_video_vencedores {
    top: 0;
    left: 8rem;
    opacity: .3;
}

#div_content_video {
    width: 550px;
    height: 500px;
    padding: 2rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    border: 1px solid #b0b0b038;
}

#div_content_video div p {
    font-size: 45pt;
    color: #CB6CE6;
    text-align: center;
    font-weight: bolder;
    animation: pisca .5s ease infinite;
    font-family: "League Spartan", sans-serif;
}

.content_titulo_texto_secao_video {
    width: 400px;
}

#secao_sobre_50bue {
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.content_titulo_texto_secao_sobre50 {
    width: 400px;
}

#div_content_titulo_texto_sticky {
    top: 6rem;
    position: sticky;
}

#div_contentor_cards_fundadores {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.efeito_luz_contentor_cards_fundadores {
    top: 180px;
    position: sticky;
}

.efeito_card_fundadores {
    width: 100px;
    height: 40px;
    position: absolute;
    border-radius: 99px;
    pointer-events: none;
    background: #0D0D0D;
    border: 1px solid #b0b0b038;
}

.efeito_card_fundadores_topo {
    top: -1.3rem;
}

.efeito_card_fundadores_topo_fundador_1 {
    left: 2rem;
}

.efeito_card_fundadores_baixo_fundador_1 {
    right: -3rem;
    bottom: 10rem;
    transform: rotate(90deg)
}

.efeito_card_fundadores_topo_fundador_2 {
    right: 2rem;
}

.efeito_card_fundadores_baixo_fundador_2 {
    left: -3rem;
    bottom: 15rem;
    transform: rotate(90deg)
}

.efeito_card_fundadores_baixo_fundador_3 {
    left: -3rem;
    bottom: 3rem;
    transform: rotate(90deg)
}

.efeito_card_fundadores_topo_fundador_4 {
    right: -1rem;
}

.efeito_card_fundadores_baixo_fundador_4 {
    left: -1rem;
    bottom: -1rem;
}

.efeito_card_fundadores_topo_fundador_5 {
    top: 3rem;
    right: -3rem;
    transform: rotate(90deg)
}

.efeito_card_fundadores_baixo_fundador_5 {
    right: -1rem;
    bottom: -1rem;
    transform: rotate(90deg)
}

.card_fundador {
    top: 7rem;
    width: 340px;
    height: 460px;
    display: flex;
    padding: 2rem;
    position: sticky;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    transform: scale(.85);
    background: #0D0D0D;
    flex-direction: column;
    transition: all .8s ease;
    justify-content: space-around;
    border: 1px solid #b0b0b038;
}

.card_fundador.visto {
    transform: scale(1)
}

.card_fundador.visto .img_fundador {
    opacity: 100%;
    filter: grayscale(0);
}

.img_fundador {
    opacity: 5%;
    width: 200px;
    filter: grayscale(100%);
    transition: all 1s ease .2s;
}

.nome_fundador {
    font-size: 25pt;
    color: #CB6CE6;
    font-weight: bolder;
    font-family: "League Spartan", sans-serif;
}

.cargo_fundador {
    opacity: 50%;
    font-size: 14pt;
    color: #F5F5F5;
    font-weight: bolder;
    font-family: "League Spartan", sans-serif;
}

.texto_fundador {
    color: #F5F5F5;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

#secao_video_explicativo {
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.contentor_div_video {
    display: flex;
    justify-content: center;
}

.titulo_secao_duvida {
    width: 550px;
    font-size: 50pt;
}

#div_area_video {
    width: 550px;
    padding: 2rem;
    height: 500px;
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    border: 1px solid #b0b0b038;
}

#div_area_video p {
    font-size: 45pt;
    color: #CB6CE6;
    text-align: center;
    font-weight: bolder;
    font-family: "League Spartan", sans-serif;
    animation: pisca .5s ease infinite;
}

#secao_ajuda {
    gap: 5rem;
    display: flex;
    background: #F5F5F5;
    justify-content: center;
    background: linear-gradient(to bottom, #0D0D0D 0%, #cc6ce611 100%);
}

.titulo_secao_ajuda,
.texto_secao_ajuda {
    color: #F5F5F5;
}

#div_content_percentagens {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.percentual_texto {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.percentual {
    width: 120px;
    font-size: 45pt;
    text-align: right;
    color: #F5F5F5;
    font-weight: bolder;
    font-family: "League Spartan", sans-serif;
}

.percentual_45 {
    color: #CB6CE6;
}

.texto_percentual {
    color: #F5F5F5;
    font-family: "League Spartan", sans-serif;
}

#secao_texto_efeito_colorido {
    gap: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, #0D0D0D 0%, #cc6ce611 100%);
}

#secao_texto_efeito_colorido .texto_efeito_colorir {
    width: 45%;
    opacity: 10%;
    font-size: 20pt;
    font-weight: 600;
    color: #F5F5F5;
    text-align: center;
    transition: all .4s;
    font-family: "Roboto", sans-serif;
}

#secao_texto_efeito_colorido .texto_efeito_colorir.colorido {
    opacity: 100%;
    color: #CB6CE6;
}

#secao_parceiros {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.content_titulo_texto_secao_parceiros {
    width: 500px;
}

#div_contentor_parceiros {
    gap: 1rem;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_logo_parceiro {
    width: 150px; 
    height: 150px;
    padding: .5rem;
    border-radius: 12px;
    transition: all .3s;
    border: 1px solid #b0b0b02f;
}

.img_logo_parceiro:hover {
    transform: scale(1.08);
    border: 1px solid #CB6CE6;
}

.img_logo_parceiro_mobile {
    display: none;
}

#secao_texto_impacto p {
    font-size: 45pt;
    font-weight: 700;
    color: transparent;
    text-align: center;
    padding-inline: 8rem;
    background-clip: text;
    font-family: "League Spartan";
    background: linear-gradient(90deg, #F5F5F5 0%, #B0B0B0 50%, #A0A0A0 100%);
    -webkit-background-clip: text;
}

#rodape {
    padding: 4rem;
    background: linear-gradient(180deg, #0D0D0D 0%, #cc6ce617 100%)
}

.div_contentor_logo50bue_termos {
    display: flex;
    align-items: center;
    padding-inline: 10rem;
    justify-content: space-between;
}

.logo50bue_rodape {
    font-size: 30pt;
    color: #F5F5F5;
    text-decoration: none;
    font-family: "Bebas Neue";
}

#div_content_termos_politica {
    gap: 1rem;
    display: flex;
}

#div_content_termos_politica a {
    opacity: 70%;
    color: #F5F5F5;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
}

#div_content_termos_politica a:hover {
    text-decoration: underline;
}

.linha_horizontal_rodape {
    margin-block: 2rem;
    border: 1px solid #80808044;
}

.div_redes_sociais {
    gap: 3rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.div_redes_sociais a {
    opacity: 90%;
    font-size: 30pt;
    font-weight: 500;
    color: #F5F5F5;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
}

.div_content_localizacao_copy {
    display: flex;
    color: #F5F5F5;
    font-weight: 200;
    padding-top: 2rem;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden !important;
    }
    
    #menu {
        padding: 2rem 1.5rem;
    }

    #logo50bue_menu {
        font-size: 30pt;
    }

    .div_contentor_botoes_desktop {
        display: none;
    }

    #div_contentor_opcao_menu {
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        padding-top: 3rem;
        background: black;
        position: absolute;
        transition: all 1s;
        align-items: center;
        pointer-events: none;
        flex-direction: column;
        justify-content: space-around;
        clip-path: circle(100px at 33rem -7rem);
    }

    .link_opcao_menu:hover {
        opacity: 100%;
        color: #CB6CE6;
    }
    
    #menu.ativo #div_contentor_opcao_menu {
        pointer-events: all;
        clip-path: circle(1000px at 0rem 0rem);
    }

    #div_content_botao_menu_hamburguer {
        display: flex;
    }

    #div_contentor_logo50bue_menu,
    #div_content_botao_menu_hamburguer {
        z-index: 1;
    }

    .secao {
        padding-inline: 2rem;
    }

    #secao_hero {
        overflow: hidden;
        height: max-content;
        flex-direction: column;
    }

    #titulo_hero {
        font-size: 40pt;
    }

    .img_moeda_hero {
        width: 130px;
    }
    
    .img_moeda_hero_frente {
        opacity: .6;
        left: -4rem;
        z-index: -1;
        width: 140px;
        animation: none;
        transform: rotate(40deg);
    }

    .img_moeda_hero_inverso {
        bottom: 1rem;
        animation: mostraMoeda 4s linear infinite;
    }

    @keyframes mostraMoeda {
        0% {
            right: -3rem;
            filter: blur(0);
        }
        100% {
            right: -2rem;
            filter: blur(10px);
        }
    }

    #div_contentor_textos_hero_botoes {
        width: 100%;
        align-items: center;
    }
    
    #div_content_img_hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #img_hero {
        max-width: 100%;
    }

    #secao_ativacao_numero {
        text-align: left;
    }

    #div_content_form_ativacao_numero {
        display: flex;
        justify-content: center;
    }

    .titulo_secao_ativar_numero {
        font-size: 40pt;
    }

    form {
        width: 100%;
    }

    #div_content_ranking {
        gap: .5rem;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: start;
        scroll-behavior: smooth;
        overflow: scroll visible;
        scroll-snap-type: mandatory;
    }

    #div_content_ranking::-webkit-scrollbar {
        opacity: 0;
    }

    #figura_abstrata_ranking {
        top: 25rem;
        left: 4rem;
        width: 260px;
        height: 200px;
    }

    @keyframes roda_abstrato {
        0% {
            transform: rotate(0) scale(1.0)
        }

        100% {
            transform: rotate(365deg) scale(1.0)
        }
    }

    .card_content_pessoa_ranking {
        min-width: 250px;
        gap: 1.5rem;
    }

    #secao_video_vencedores,
    #secao_ranking {
        gap: .5rem;
        overflow-x: hidden;
        flex-direction: column;
    }

    .efeito_luz_secao_video_vencedores {
        top: 25rem;
        left: 18rem;
        opacity: .25;
    }

    #div_content_video {
        width: 100%;
    }

    .content_titulo_texto_secao_video {
        width: 100%;
    }
    
    #div_content_video div p {
        font-size: 25pt;
    }

    #secao_sobre_50bue {
        flex-direction: column;
    }

    .content_titulo_texto_secao_sobre50,
    .content_titulo_texto_secao_video,
    .content_titulo_texto_secao_ranking {
        width: 100%;
    }

    #secao_video_explicativo {
        flex-direction: column;
    }

    #div_area_video p {
        font-size: 25pt;
    }

    .card_fundador {
        width: 90%;
        height: max-content;
    }

    .img_fundador {
        width: 100%;
    }

    .titulo_secao_duvida {
        width: 100%;
        font-size: 40pt;
    }

    #secao_ajuda {
        gap: 1rem;
        flex-direction: column;
    }
    
    .percentual_texto {
        align-items: start;
    }

    .percentual {
        width: 195px;
    }

    .texto_percentual {
        font-weight: 500;
    }

    #secao_texto_efeito_colorido .texto_efeito_colorir {
        width: 100%;
        font-size: 18pt;
    }

    #secao_parceiros {
        overflow-x: hidden;
        flex-direction: column;
    }

    .content_titulo_texto_secao_parceiros {
        width: 100%;
    }

    #fade_contentor_parceiros {
        position: relative;
    }

    #div_content_scroll_parceiros {
        overflow: hidden;
    }
        
    #fade_contentor_parceiros::before,
    #fade_contentor_parceiros::after {
        top: 0;
        width: 22%;
        z-index: 2;
        content: "";
        height: 100%;
        overflow: hidden;
        position: absolute;
        pointer-events: none;
    }

    #fade_contentor_parceiros::before {
        left: -50px;
        background: linear-gradient(to right, #0D0D0D 80%, transparent 100%);
    }

    #fade_contentor_parceiros::after {
        right: -50px;
        background: linear-gradient(to left, #0D0D0D 80%, transparent 100%);
    }

    #div_contentor_parceiros {
        flex-wrap: nowrap;
        padding-top: 1rem;
        width: max-content;
        justify-content: start;
        animation: animacao_parceiros 30s linear infinite;
    }

    @keyframes animacao_parceiros {
        0% { 
            transform: translateX(0); 
        }
        100% { 
            transform: translateX(-50%); 
        }
    }

    .img_logo_parceiro {
        border: none;
        pointer-events: none;
        transform: scale(1.2)
    }

    .img_logo_parceiro_mobile {
        display: block;
    }

    #secao_texto_impacto p {
        font-size: 25pt;
        padding-inline: 0;
    }

    #rodape {
        background: linear-gradient(180deg, #0D0D0D 0%, #cc6ce617 100%)
    }

    .div_contentor_logo50bue_termos {
        gap: .5rem;
        padding-inline: 0;
        flex-direction: column;
    }

    #div_content_termos_politica a {
        width: max-content;
    }

    .div_redes_sociais {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .div_redes_sociais a {
        font-size: 15pt;
    }

    .div_content_localizacao_copy {
        gap: .5rem;
        padding-top: 2rem;
        text-align: center;
        flex-direction: column;
    }

    .carrousel_premios {
        width: 100%;
    }

    .card_premios {
        min-width: 290px;
        min-height: 590px;
    }

    .img_premio {
        width: 95%;
    }

    #div_contentor_card_premio::before {
        width: .5rem;
    }

    #div_contentor_card_premio::after {
        width: 10px;
    } 
}